body {
    background-color: white;
}

.pure-button {
    border-radius: 10px;
    color: white;
}

.button-green {
    background-color: rgb(28, 184, 65);
}

.button-twitter {
    background-color: rgb(0,132,180);
}

.button-red {
    background-color: red;
}

#mathsJoke {
    display: none;
    padding: 1em 1em;
    text-align: center;
}

#jokeQuestion {
    font-weight: bold;
}