body {
    background-color: black;
}

p {
    margin: 1 0.5em;
}

h1 {
    text-align: center;
}

.pure-button {
    border-radius: 10px;
    color: white;
}

.button-green {
    background-color: rgb(28, 184, 65);
}

.button-twitter {
    background-color: rgb(0,132,180);
}

.button-red {
    background-color: red;
}

.button-black {
    background-color: black;
}

.button-purple {
    background-color: purple;
}

#mathsJoke {
    display: none;
    padding: 0em 1em;
    text-align: center;
}

#jokeQuestion {
    font-weight: bold;
    font-size: 2em;
}

#jokeAnswer {
    font-size: 1.5em;
}

#jokeExplanation {
    font-size: 1em;
}

#externalLinks, 
#initialButtonWrapper {
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mainPanel {
    border: 10px outset gray;
    padding: 0em 1em;
    background-color: white;
    min-height: 20em;
    position: relative;
}

#externalLinks {
    width: 100%;
    padding-bottom: 1em;
}

.button100width {
    width: 100%;
}

#jokeButtons {
    padding-top: 1em;
    padding-bottom: 2em;
}